@import "~bootstrap/scss/bootstrap";

.app {
    padding: 0.5rem;
}

.main {
    margin: 0 auto;
    max-width: 19rem;
}

.day {
    .complete-selected {
        color: white;
        background: #00ff00;
        border-color: #00ff00;
    }
}

.day {
    .incomplete-selected {
        color: white;
        background: red;
        border-color: red;
    }
}

.day {
    .note-action:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.day {
    .button-complete:hover {
        background: #00ff00;
        border-color: #00ff00;
    }
}

.day {
    .button-incomplete:hover {
        background: red;
        border-color: red;
    }
}

.day {
    .left-arrow {
        left: 0;
        top: 50%;
        z-index: 1;
        opacity: .5;
        font-size: 2rem;
        color: #b40101;
        transform: translateY(-50%);
    }
}

.day {
    .material-icons:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.day {
    .right-arrow {
        right: 0;
        top: 50%;
        z-index: 1;
        opacity: .5;
        font-size: 2rem;
        color: #b40101;
        transform: translateY(-50%);
    }
}

.day {
    .material-icons:hover {
        opacity: 1;
        cursor: pointer;
    }
}

/* ---------- ---------- --------- ---------- */

.overview-container {
    .overview-day:nth-child(1) {
        border-top-left-radius: 0.25rem;
    }

    .overview-day:nth-child(11) {
        border-top-right-radius: 0.25rem;
    }

    .overview-day:nth-child(56) {
        border-bottom-left-radius: 0.25rem;
    }

    .overview-day:nth-child(66) {
        border-bottom-right-radius: 0.25rem;
    }
}

.overview-container {
    .overview-day {
        width: 1.727rem;
        height: 1.727rem;
    }
}

.overview-container {
    .overview-day:hover {
        cursor: pointer;
        opacity: 0.75;
    }
}

.overview-container {
    h5 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* ---------- ---------- --------- ---------- */

.current-day {
    .current-day-container {
        .current-day-content:hover {
            cursor: pointer;
        }
    }
}

/* ---------- ---------- --------- ---------- */

.start-over {
    display: flex;
    justify-content: center;

    p:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

/* ---------- ---------- --------- ---------- */

.login-container {
    height: 100vh;
  }

  .login-form {
    width: 19rem;
    height: 24.588rem;
    background: white;
  }

  .login-form__button {
      background: black;
      transition: opacity 500ms;
  }

  .login-form__button:hover {
      opacity: 0.85;
  }

  .login-form__links {
    color: blue;
  }

  .login-form__register:hover, .login-form__login:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  /* ---------- ---------- --------- ---------- */

  .logout__span {
      color: gray;
      font-size: 0.85rem;
      letter-spacing: 0.05rem;
  }

  .logout__span:hover {
      cursor: pointer;
      text-decoration: underline;
  }

 /* ---------- ---------- --------- ---------- */

  .username__error {
    color: white;
    padding: 0.5rem;
    background: red;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
  }

  .left {
      margin: 0 auto;
      max-width: 19rem;
  }

  .right {
      margin: 0 auto;
      max-width: 19rem;
      max-height: 27.588rem;
  }
