$primary: #000;
$secondary: #b40101;

$enable-gradients: true;
$enable-responsive-font-sizes: true;

@import "../../node_modules/bootstrap/scss/bootstrap";

h1 {
    margin-bottom: 0;
    font-size: 1.25rem;
}

.flex-1 {
    flex: 1;
}

.flex-none {
    flex: none;
}

.logout {
    font-size: 0.75rem;
}

.badge {
    width: 1.5625rem;
    height: 1.5625rem;
}

.custom-p-1 {
    padding: 0.0625rem;
}

.custom-select {
    -webkit-appearance: none;
}

@media screen and (min-width: 576px) {
    h1 {
        font-size: 2.5rem;
    }

    .logout {
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .badge {
        width: 1.875rem;
        height: 1.875rem;
    }
}

@media screen and (min-width: 992px) {
    .badge {
        width: 1.5625rem;
        height: 1.5625rem;
    }
}

@media screen and (min-width: 1200px) {
    .badge {
        width: 1.875rem;
        height: 1.875rem;
    }
}